<h1>Can You Name the 50 States?</h1>

<div>
	<input type="text" class="quantity" placeholder="Enter Qty." size="7" />
	<button class="add-to-cart-button" 
	data-product-id="<%= product.id %>" 
	data-product-name="<%= product.name %>"
	data-price="<%= product.unit_price %>"
	id="button">Add to Cart</button>
</div>